.item-container {
  background-color: darken($green-color, 5%);
  border-radius: 6px;
  color: $white-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 0 0 10px 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  .field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 15px;

    .title {
      font-weight: 600;
      text-transform: lowercase;
      padding-right: 10px;
      font-size: 16px;
      line-height: 16px;
    }

    .option {
      font-size: 14px;
      line-height: 16px;
    }

    &--name {
      order: 0;
      background-color: darken($green-color, 17%);
      border-radius: 6px 6px 0 0;
      padding: 5px;
      font-weight: 600;
      text-align: center;
      display: block;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 60px;
      text-overflow: ellipsis;

      .controls {
        position: absolute;
        top: 5px;
        right: 5px;

        &__remove {
          background: none;
          border: none;
          color: $white-color;
          cursor: pointer;
          font-size: 16px;
          transition: opacity 200ms ease-in-out;
          will-change: opacity;
          outline: none;

          &:hover {
            opacity: 0.8;
          }
        }

        &__edit {
          background: none;
          border: none;
          color: $white-color;
          cursor: pointer;
          font-size: 16px;
          transition: opacity 200ms ease-in-out;
          will-change: opacity;
          outline: none;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .title {
        font-size: 18px;
        line-height: 20px;
      }

      .option {
        font-size: 20px;
        line-height: 20px;
        word-break: break-all;
      }

      @media screen and (max-width: 460px) {
        text-align: left;
      }
    }

    &--description {
      order: 1;
    }

    &--model {
      order: 2;
    }

    &--color {
      order: 3;
    }

    &--weight {
      order: 4;
    }

    &--height {
      order: 5;
    }

    &--width {
      order: 6;
    }
  }
}
